<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/detalhes.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <title>Detalhes do Produto</title>
</head>
<body>
  <main>
    <div id="areaProduto">
      <img src="./img/vinho-bordo.jpeg" alt="Vinho" title="Vinho" id="imgProduto">
    </div>
    <div id="areaInfoProduto">
      <h1>Vinho Suave</h1>
      <h2>R$ 00,00</h2>
      <div id="quantidade"></div>
      <button>Adicionar ao carrinho</button>
      <button>Lista de desejos</button>
    </div>
  </main>
</body>
</html>