<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>BellaSafra | Login</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>item1</li>
                <li>item2</li>
                </li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="./img/imageLogin.png" alt="Vinho" title="Vinho">
        <form action="" method="post" id="formLogin">
            <div id="labelCadastro">
                <label>Ainda não é membro? <a href="">Faça o cadastro!</a></label>
            </div>

            <label>Faça o Login</label>
            <div class="ladoALado">
                <input class="inputPadrao" type="email" name="email" placeholder="E-mail">
                <input class="inputPadrao" type="password" name="senha" placeholder="Senha">
            </div>

            <label id="esqueceuASenha"><a href="">Esqueci a senha</a></button>
            </label>
            <hr>
            <div id="boxButtoon">
                <button type="submit" id="entrar">Entrar</button>
            </div>
        </form>
    </section>

    <footer>
        <ul>
            <li>icone1</li>
            <li>icone2</li>
        </ul>
    </footer>
</body>
</html>