<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bs.css" />
        <title>Bella Safra - Produtos</title>
    </head>
    <body>
        <head>
        </head>
        <section class="filtros">
        <select name="preco" class="input-padrao">
            <option selected disabled>Filtrar por preço</option>
            <option value="1">Serv1</option>
            <option value="2">Serv2</option>
            <option value="3">Serv3</option>
        </select>
        <select name="tipo" class="input-padrao">
            <option selected disabled>Filtrar por tipo</option>
            <option value="1">Serv1</option>
            <option value="2">Serv2</option>
            <option value="3">Serv3</option>
        </select>
        <select name="uva" class="input-padrao">
            <option selected disabled>Filtrar por uva</option>
            <option value="1">Serv1</option>
            <option value="2">Serv2</option>
            <option value="3">Serv3</option>
        </select>
        <select name="pais" class="input-padrao">
            <option selected disabled>Filtrar por País</option>
            <option value="1">Serv1</option>
            <option value="2">Serv2</option>
            <option value="3">Serv3</option>
        </select>
        <select name="harmonizacao" class="input-padrao">
            <option selected disabled>Filtrar por harmonização</option>
            <option value="1">Serv1</option>
            <option value="2">Serv2</option>
            <option value="3">Serv3</option>
        </select>
        </section>
        <section class="produtos">
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 1</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button class="botao-comprar">Comprar</button>
                </div>
            </div>
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 2</h3>
                <h4>R$ 59,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>
            </div>
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 3</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>
            </div>  
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 4</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>
            </div>  
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 5</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>
            </div>  
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 6</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>
            </div>  
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 7</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>
            </div>  
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 8</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>
            </div>  
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 9</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>
            </div>  
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 10</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>
            </div>  
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 11</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>
            </div> 
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 12</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>
            </div>   
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 13</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>
            </div>
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 14</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>
            </div>
            <div class="cartao-produto">
                <div class="imagem-produto">
                    <img src="/img/vinho_teste.jpg" alt="Bella Safra">
                </div>
            <div class="info-produto">
                <h3>Vinho 15</h3>
                <h4>R$ 98,99</h4>
                <h5 class="info">Saber mais</h5>
                <button>Comprar</button>
                </div>   
        </section>
    </body>